// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-neon-blue:                 #2c39f2;
$color-vivid-violet:              #9627a3;
$color-torch-red:                 #ff1553;

// Typography
//---------------------------------

$font-family--neue-machina:         "Neue Machina", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);
$animation-in-left:                 inLeft 0.8s 1 forwards;
$animation-in-right:                inRight 0.8s 1 forwards;
$animation-out-left:                outLeft 0.8s 1 forwards;

@keyframes inLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes inRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes outLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      769px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
